In [5]:
import numpy as np # linear algebra
import pandas as pd # data processing
import matplotlib as plt
import plotly.express as px
from statsmodels.stats.proportion import proportions_ztest
print('done')

done

In [6]:
df=pd.read_csv('/Users/danielpavelko/Downloads/bquxjob_1d677265_1885741a220.csv')
print(df.head())
df.info()

                               u_id  step_2  step_3  step_4  step_5  step_6  \
0  5e1f9da200713a7ff20753070e39880c       1       1       0       0       0
1  642c1e7c5c07733ddc8b0a83f39edb50       1       1       1       1       0
2  f875555ea6fbfe430cee51a8d3088b5d       1       1       1       0       0
3  4f6f9c26128a1b6ec99c9f9ac512b258       1       1       0       0       0
4  cbe4d371e6e0f7f0f96ca310dcc9bc47       1       1       1       0       0

   step_7  step_8  flag_int  flag_avia_tr     fork        date
0       0       0       1.0             0  control  2022-07-03
1       0       0       1.0             0  control  2022-07-03
2       0       0       0.0             1  control  2022-07-03
3       0       0       0.0             1  control  2022-07-03
4       0       0       0.0             1  control  2022-07-03
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74359 entries, 0 to 74358
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   u_id          74359 non-null  object
 1   step_2        74359 non-null  int64
 2   step_3        74359 non-null  int64
 3   step_4        74359 non-null  int64
 4   step_5        74359 non-null  int64
 5   step_6        74359 non-null  int64
 6   step_7        74359 non-null  int64
 7   step_8        74359 non-null  int64
 8   flag_int      65686 non-null  float64
 9   flag_avia_tr  74359 non-null  int64
 10  fork          74359 non-null  object
 11  date          74359 non-null  object
dtypes: float64(1), int64(8), object(3)
memory usage: 6.8+ MB

# Этап I Открыть и просмотреть данные

In [7]:
def check_data(data):
    """Функция проводит общий анализ датасета info, describe,types. Поиск пропусков и дубликатов.
    Проверка типов данных.
    
    1. Печатает количество строк и столбцов.
    2. Собирает небольшой датасет из пропусков,обозначая колонки с пропусками красным цветом.
    3. Печатает количество дубликатов.
    4. Печатает колонки которые стоит переименовать и их колчество.
    5. Печатает первых 10 строк данных"""
    isnull_dict = {}
    not_lower_cols = []
    count_cap_cols = 0
    display(data.info(),'Типы данных таблицы',data.dtypes, data.describe())
    for value in data.columns:
        isnull_dict[value] = data[value].isnull().sum()
        tmp_df = pd.DataFrame([isnull_dict])
        if value.islower():
            continue
        else:
            not_lower_cols.append(value)
            count_cap_cols += 1
    tmp_df.index = ['Пропусков в колонке']
    tmp_df = tmp_df.style.applymap(lambda x: 'color:darkred' if x > 0 else 'color:green')
    display(tmp_df)
    print(f'Количество строк = {data.shape[0]}, количество столбцов = {data.shape[1]}\n')
    print('Всего строк дубликатов в таблице =', data.duplicated().sum())
    if count_cap_cols:
        print(f'В {count_cap_cols} колонках есть заглавные буквы.')
        print('Эти колонки стоит привести к нижнему регистру для удобсвта', not_lower_cols)
    else:
        print('Колонки не надо переименовывать')
    return data.head(10)

In [8]:
check_data(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74359 entries, 0 to 74358
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   u_id          74359 non-null  object
 1   step_2        74359 non-null  int64
 2   step_3        74359 non-null  int64
 3   step_4        74359 non-null  int64
 4   step_5        74359 non-null  int64
 5   step_6        74359 non-null  int64
 6   step_7        74359 non-null  int64
 7   step_8        74359 non-null  int64
 8   flag_int      65686 non-null  float64
 9   flag_avia_tr  74359 non-null  int64
 10  fork          74359 non-null  object
 11  date          74359 non-null  object
dtypes: float64(1), int64(8), object(3)
memory usage: 6.8+ MB

None

'Типы данных таблицы'

u_id             object
step_2            int64
step_3            int64
step_4            int64
step_5            int64
step_6            int64
step_7            int64
step_8            int64
flag_int        float64
flag_avia_tr      int64
fork             object
date             object
dtype: object

,step_2,step_3,step_4,step_5,step_6,step_7,step_8,flag_int,flag_avia_tr
count,74359.000000,74359.000000,74359.000000,74359.00000,74359.000000,74359.000000,74359.000000,65686.000000,74359.000000
mean,0.885071,0.883363,0.340107,0.12870,0.096397,0.066233,0.047661,0.270529,0.336126
std,0.318938,0.320989,0.473748,0.33487,0.295137,0.248690,0.213049,0.444237,0.472386
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,0.00000,0.000000,0.000000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000

Количество строк = 74359, количество столбцов = 12

Всего строк дубликатов в таблице = 27
Колонки не надо переименовывать

,u_id,step_2,step_3,step_4,step_5,step_6,step_7,step_8,flag_int,flag_avia_tr,fork,date
0,5e1f9da200713a7ff20753070e39880c,1,1,0,0,0,0,0,1.0,0,control,2022-07-03
1,642c1e7c5c07733ddc8b0a83f39edb50,1,1,1,1,0,0,0,1.0,0,control,2022-07-03
2,f875555ea6fbfe430cee51a8d3088b5d,1,1,1,0,0,0,0,0.0,1,control,2022-07-03
3,4f6f9c26128a1b6ec99c9f9ac512b258,1,1,0,0,0,0,0,0.0,1,control,2022-07-03
4,cbe4d371e6e0f7f0f96ca310dcc9bc47,1,1,1,0,0,0,0,0.0,1,control,2022-07-03
5,2416982ef950c60497236eb5275c04d8,1,1,0,0,0,0,0,0.0,1,control,2022-07-03
6,ebd978e704d5607010f6fde6b84468f9,1,1,1,1,1,0,0,1.0,1,control,2022-07-03
7,78d721b1bb54ceba4b56474b18609dac,1,1,0,0,0,0,0,0.0,0,control,2022-07-03
8,2cffe0af33d6eb61d6a50e5a66c584a2,1,1,1,0,0,0,0,1.0,0,control,2022-07-03
9,e2473c7af379185eb69218e61cd656e8,1,1,1,1,1,1,1,0.0,0,control,2022-07-03

In [10]:
df['step_1'] = 1
to_df_t = ['u_id','step_1','step_2','step_3','step_4','step_5','step_6','step_7','step_8']
df_t = df[to_df_t]
upv = pd.melt(df_t, id_vars=['u_id'], var_name='event', value_name='value')
upv = upv.querry('value = 1')
upv.tail(15)

AttributeError: 'DataFrame' object has no attribute 'querry'

In [ ]:
upv = upv.query('value == 1')
upv_m = upv.merge(df, on='u_id', how='left')
upv_m = upv_m[['u_id','event','value','fork']]
upv_m.head()

In [ ]:
events = list(upv['event'].dropna().unique())

def check_z(data, events, alpha):
    """Функция для проверки гипотез  с помощью z_test
    Принимаемые аргументы data - датасет, events - события конверсий, alpha - уровень стат значимости.
    Функция считает конверсию от общего числа пользователей к тем кто совершил событие из events.
    Возвращает результат проверки гипотезы в виде строки.
    """
    count = data.groupby('fork').agg({'u_id':'nunique'}).reset_index()
    count.columns = ['fork', 'total_users']
    for event in events:
        nobs = data[(data['event'] == event) & (data['fork'].isin(count['fork']))].groupby('fork').agg({
            'u_id':'nunique'}).reset_index()
        nobs.columns = ['fork', event]
        pivot_z = pd.merge(count, nobs, on = 'fork')
        pivot_z['conversions'] = round(pivot_z[event] / pivot_z['total_users'], 2)

        stat, p_value = proportions_ztest(pivot_z[event].values,pivot_z['total_users'].values)

        display(pivot_z)
        if p_value >= alpha:
            print('p value = {0:.10f}'.format(p_value))
            print(f'Нулевая гипотеза не отвергается: между группами нет различий конверсии по событию {event}'.upper())
        else:
            print('p value = {0:.10f}'.format(p_value))
            print(f'Нулевая гипотеза отвергается: между группами есть различия конверсии по событию {event}'.upper())
    return 'test gamevoer'

In [ ]:
check_z(upv_m, events, 0.05)

In [ ]:
# поскольку во всех датасетах нужно только преобразовать тип данных в даты напишем функцию

def convert_in_datetime(data, columns):
    """Функция преобразует тип в колонке из списка columns, датасета data в формат даты.
    Выполняет проверку удалось ли преобразовать тип.
    Возвращает обновленный датасет.
    """
    for col in columns:
        data[col] = pd.to_datetime(data[col])
        if 'datetime' in str(data[col].dtype):
            print(f'{col} Convert succes'.upper())
        else:
            print(f'{col} Something was wrong'.upper())
    return data

In [ ]:
df = convert_in_datetime(df,['date'])

In [ ]:
df['step_1'] = 1
to_funnel = ['step_1','step_2','step_3','step_4','step_5','step_6','step_7','step_8']
df_1 = df[to_funnel]
df_sum = df_1.sum(axis=0).tolist()
step_names = ['travel_search_form','travel_search_in_progress','travel_search_results','travel_flight_details',
             'travel_tariff_confirmation', 'travel_select_passenger',
              'travel_payment_method','travel_card_payment_approved']
data = dict(
    number=df_sum,
    stage=step_names)
fig = px.funnel(data, x='number', y='stage')    
fig.show()
print('yes')

In [ ]:
df_sum_perc = [round(i / df_sum[0] * 100, 1) for i in df_sum]
to_funnel = ['step_1','step_2','step_3','step_4','step_5','step_6','step_7','step_8']
step_names = ['travel_search_form','travel_search_in_progress','travel_search_results','travel_flight_details',
             'travel_tariff_confirmation', 'travel_select_passenger',
              'travel_payment_method','travel_card_payment_approved']
data = dict(
    number=df_sum_perc,
    stage=step_names)
fig = px.funnel(data, x='number', y='stage')    
fig.show()

In [ ]:
control = df[df['fork'] == 'control']
test = df[df['fork'] == 'last-seats']
control_sum = pd.DataFrame(dict(number=control[to_funnel].sum(axis=0).tolist(),
                   stage=step_names))
control_sum['fork'] = 'control'

test_sum = pd.DataFrame(dict(number=test[to_funnel].sum(axis=0).tolist(),
                stage=step_names))
test_sum['fork'] = 'last-seats'

df_sep = pd.concat([control_sum, test_sum], axis=0)

fig = px.funnel(df_sep, x='number', y='stage', color='fork')
fig.show()

In [ ]:
#Leave only 1's for each stage of the funnel

to_convert = ['step_2','step_3','step_4','step_5','step_6','step_7','step_8']
df[to_convert] = df[to_convert].replace(0, np.nan)

#Limit only u_id's that reached step_3 (travel_search_results)

df.dropna(subset=['step_3'], inplace=True)

df.info()

In [ ]:
df.groupby('flag_avia_tr')['u_id'].count()

In [ ]:
df.groupby('flag_int')['step_8'].sum() / df.groupby('flag_int')['step_3'].sum()